[user]
	name = 石塚隆一
	email = jeremy.hillary.boob@gmail.com
[core]
	excludesfile = /Users/ryu/.gitignore_global
[difftool "sourcetree"]
	cmd = /usr/local/bin/ksdiff -w \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /usr/local/bin/ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	keepBackup = true
[commit]
	template = /Users/ryu/.stCommitMsg
[http]
	postBuffer = 1048576000
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
