[user]
	name = 石塚隆一
	email = jeremy.hillary.boob@gmail.com
[core]
	excludesfile = /Users/ryu/.gitignore_global
[difftool "sourcetree"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = true
[mergetool]
	keepBackup = true
